# Predicitng charges for patients

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
X = df.iloc[:,:-1]
y = df['charges']

In [4]:
X.head()

   age     sex     bmi  children smoker     region
0   19  female  27.900         0    yes  southwest
1   18    male  33.770         1     no  southeast
2   28    male  33.000         3     no  southeast
3   33    male  22.705         0     no  northwest
4   32    male  28.880         0     no  northwest

In [5]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [6]:
sexs = pd.get_dummies(X['sex'], drop_first=True) #for categorical values to numerical value
smokers = pd.get_dummies(X['smoker'], drop_first=True) #for categorical values to numerical value
regions = pd.get_dummies(X['region'], drop_first=True) #for categorical values to numerical value

In [8]:
X = X.drop('sex',axis=1)

In [9]:
X = X.drop('smoker',axis=1)
X = X.drop('region',axis=1)

In [10]:
X.head()

   age     bmi  children
0   19  27.900         0
1   18  33.770         1
2   28  33.000         3
3   33  22.705         0
4   32  28.880         0

In [11]:
X = pd.concat([X,sexs],axis=1)
X = pd.concat([X,smokers],axis=1)
X = pd.concat([X,regions],axis=1)

In [12]:
X.head()

   age     bmi  children  male  yes  northwest  southeast  southwest
0   19  27.900         0     0    1          0          0          1
1   18  33.770         1     1    0          0          1          0
2   28  33.000         3     1    0          0          1          0
3   33  22.705         0     1    0          1          0          0
4   32  28.880         0     1    0          1          0          0

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [14]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [15]:
#predict the test set
y_pred = regressor.predict(X_test)

In [21]:
from sklearn.metrics import r2_score,mean_squared_error
score = r2_score(y_test, y_pred)
score

0.7999876970680434

In [22]:
from sklearn.ensemble import RandomForestRegressor

In [23]:
forest = RandomForestRegressor(n_estimators = 100,
                              criterion = 'mse',
                              random_state = 1,
                              n_jobs = -1)
forest.fit(X_train,y_train)
forest_train_pred = forest.predict(X_train)
forest_test_pred = forest.predict(X_test)

print('MSE train data: %.3f, MSE test data: %.3f' % (
mean_squared_error(y_train,forest_train_pred),
mean_squared_error(y_test,forest_test_pred)))
print('R2 train data: %.3f, R2 test data: %.3f' % (
r2_score(y_train,forest_train_pred),
r2_score(y_test,forest_test_pred)))

MSE train data: 3666279.978, MSE test data: 19269962.058
R2 train data: 0.974, R2 test data: 0.879