# Multiple Linear Regression

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('startup.csv')

In [4]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [6]:
X = df.iloc[:,:-1] #indepent column except last column which is profit
y = df.iloc[:,4] # profit

In [7]:
states = pd.get_dummies(X['State'], drop_first=True) #for categorical values to numerical value

In [8]:
#drop state column now 
X = X.drop('State',axis=1)
# concat states dummies in X
X = pd.concat([X,states],axis=1)

In [9]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [11]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [12]:
#predict the test set
y_pred = regressor.predict(X_test)

In [20]:
from sklearn.metrics import r2_score
score = r2_score(y_test, y_pred)

In [21]:
score

0.9347068473282424

In [39]:
lst1=[test for test in y_test]
lst2= [pred for pred in y_pred]
print('y_test --------- y_pred\n')
for x in range(10):
    print(lst1[x],"----",lst2[x])

y_test --------- y_pred

103282.38 ---- 103015.20159796179
144259.4 ---- 132582.27760815565
146121.95 ---- 132447.73845174478
77798.83 ---- 71976.09851257897
191050.39 ---- 178537.48221055063
105008.31 ---- 116161.24230165103
81229.06 ---- 67851.69209675625
97483.56 ---- 98791.73374687448
110352.25 ---- 113969.43533012443
166187.94 ---- 167921.0656955042